<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prisma Code</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg  opacity-75" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="#">
                <img  src="../../assets/img/logo-prisma-sin-fondo.png" alt="Logo" width="60" height="50"class="d-inline-block align-text-center">
                Prisma Code</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#servicios">SERVICIOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#somos">QUIENES SOMOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#clientes">CLIENTES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#formulario">CONTÁCTANOS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CLIENTES
                        </a>
                        <ul class="dropdown-menu " style="background-color: #e3f2fd;">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    <a class="icono-nav" href="#"><i class="bi bi-facebook"></i></a>
                    <a class="icono-nav" href="#"><i class="bi bi-instagram"></i></a>
                    <a class="icono-nav" href="#"><i class="bi bi-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="fondo-inicio d-flex justify-content-center align-items-center">
        <h1 class="display-1 text-white">Prisma code</h1>
    </div>
    <div class="container">
        <h1 class="text-center espacio color" id="servicios">SERVICIOS QUE OFRECEMOS</h1>
        <div class="row justify-content-evenly">
            <div class="col-lg-4">
                <h4 class="espacio color"><i class="bi bi-laptop icono-nav"></i></i> SOFTWARE A MEDIDA</h4>
                <h5>Aprendemos del negocio de nuestros clientes para darles la mejor solución a sus problemas. <br>Desarrollo de software: Solución para gestión eficiente de cada empresa.</h5>
            </div>
            <div class="col-lg-4">
                <h4 class="espacio color"><i class="bi bi-chat-dots icono-nav"></i></i>CONSULTORIAS</h4>
                <h5>Asesoramiento para tu negocio. Aprendemos de nuestros clientes y ayudamos a mejorar sus procesos.</h5>
            </div>
        </div>
        <div class="row justify-content-evenly espacio-abajo">
            <div class="col-lg-4">
                <h4 class="espacio color"><i class="bi bi-phone icono-nav"></i>DESARROLLO DE APPS</h4>
                <h5>Expertos en desarrollo de apps. Desarrollo de aplicaciones móviles de acuerdo a las necesidades de tu negocio.</h5>
            </div>
            <div class="col-lg-4">
                <h4 class="espacio color"><i class="bi bi-cloud-upload icono-nav"></i>COMPUTO EN LA NUBE</h4>
                <h5>Desarrollo de soluciones enfocadas en la nube con las mejores tecnologias y servicios.</h5>
            </div>
        </div><hr class="mb-0 linea-negra">
        <div class="row justify-content-evenly">
            <div class="col-lg-10">
                <h2 class="text-center espacio color" id="somos">¿QUIENES SOMOS?</h2>
                <h5 class="text-center espacio-pequeno">Prisma Code es una empresa especializada en el desarrollo de aplicaciones, sistemas y sitios web, a la medida de las necesidades de nuestros clientes. Nuestro objetivo es encontrar la solución más optima a las necesidades provistas por el cliente, además de buscar una constante innovación y creatividad al realizar los proyectos.</h5>
                <p class="text-center h5"></p>
            </div>
        </div> 
        <div class="row justify-content-evenly">
            <div class="col-lg-5">
                <h3 class="text-center espacio color">MISIÓN</h3>
                <h5 class="text-center espacio-pequeno">Proveer soluciones de calidad, eficaces e innovadoras para las necesidades del cliente en cuanto a desarrollo de software.</h5>
            </div>
            <div class="col-lg-5">
                <h3 class="text-center espacio color">VISIÓN</h3>
                <h5 class="text-center espacio-pequeno">Posicionarnos como una de las 5 mejores empresas de desarrollo de software a nivel nacional en los proximos 5 años.</h5>        
            </div>
        </div>
        <div class="row justify-content-center p-5" id="clientes">
            <h1 class="color text-center espacio-pequeno">Nuestros Clientes</h1>
            <h4 class="font-monospace text-center espacio-pequeno">Desarrollo de tecnología a la medida.</h4>
            <div class="col-auto">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/img/logo-metro.png" class="card-img-top" alt="..." height="170px">
                    <div class="card-body text-center">
                      <p class="card-text h4 color">Sistema de Transporte Colectivo Metro.</p>
                      <p class="card-text">Desarrollo de un sistema dedicado al control de asistencia.</p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/img/logo-mascota.png" class="card-img-top" alt="..." height="176px">
                    <div class="card-body text-center">
                      <p class="card-text h4 color">El Gato Blanco</p>
                      <p class="card-text">Sistema para la venta, gestion y administracion de articulos para mascotas.</p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/img/logo-vaquero.jpg" class="card-img-top" alt="..." height="170px">
                    <div class="card-body text-center">
                      <p class="card-text h4 color">Restaurante Familiar El Vaquero</p>
                      <p class="card-text">Desarrollo de un software para el control de inventario.</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row justify-content-evenly fondo-form espacio espacio-abajo" id="formulario">
            <div class="col-lg-5  align-self-center text-light">
                <h3 class="text-center">Solicite ahora un análisis Gratuito</h3>
                <p class="text-center">Queremos ayudarte a resolver tus necesidades de desarrollo de software.<br>Rellene el formulario y contactaremos enseguida con usted para concretar dia y hora para realizarlo.</p>
            </div>
            <div class="col-lg-5">
                <form class="text-light">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Tu nombre (Requerido)</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Tu correo (Requerido)</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Telefono</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Mensaje (Requerido)</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    <div class="mb-3 form-check-0">
                        <input type="checkbox" class="form-check-input margen-derecho" id="exampleCheck1">
                        <label class="form-check-label margen-derecho" for="exampleCheck1">He leído y acepto el <a href="#">Aviso de Privacidad.</a></label>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>   
        </div>  
    </div>
    <br>
    <footer class="bg-dark py-5">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4 align-self-center">
                    <a class="h2 text-light sin-subrayado" href="#">
                        <img  src="../../assets/img/logo-prisma-sin-fondo.png" alt="Logo" width="60" height="50"class="d-inline-block align-text-center">
                        Prisma Code</a>
                </div>
                <div class="col-lg-4">
                    <h2 class="text-light">Contacto</h2>
                    <h4 class="text-light"><i class="bi bi-telephone"></i> +52 56 0152 0183</h4>
                    <h4 class="text-light"><i class="bi bi-envelope-at"></i> prismac@gmail.com</h4>
                </div>
                <div class="col-lg-4 align-self-center">
                    <a class="icono-footer text-end" href="#"><i class="bi bi-facebook"></i></a>
                    <a class="icono-footer text-end" href="#"><i class="bi bi-instagram"></i></a>
                    <a class="icono-footer text-end" href="#"><i class="bi bi-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <hr class="mb-0 linea-blanca">
        <p class="text-center text-light">Aviso de privacidad | © 2022, Prisma Code. Todos los Derechos Reservados.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>
</html>